
{{define "index"}}
{{template "header" .}}

<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Users</h1>
      <p class="mt-2 text-sm text-gray-700">A list of all the users in your account including their name, title, email and role.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <form action="api/users" method="POST" class="flex">
        <input type="text" name="username" placeholder="Username" class="block rounded-md bg-white border border-gray-300 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
        <input type="text" name="first_name" placeholder="First Name" class="block rounded-md bg-white border border-gray-300 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
        <input type="text" name="last_name" placeholder="Last Name" class="ml-2 block rounded-md bg-white border border-gray-300 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
        <input type="password" name="password" placeholder="Password" class="ml-2 block rounded-md bg-white border border-gray-300 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
        <button type="submit" class="ml-2 block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-white">Add user</button>
      </form>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Username</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">First Name</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Last Name</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            {{range .Users}}
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{.Username}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{.FirstName}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{.LastName}}</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">todo</td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                <a href="/users/{{.Id}}" class="text-indigo-600 hover:text-indigo-900">Edit</a>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{{end}}
